# Backend
PORT=3002
RABBIT_QUEUE=form_queue

# RabbitMQ
RABBIT_TLS_ENABLED=true
RABBIT_HOST=localhost
RABBIT_PORT=5671
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_VHOST=/
RABBIT_SERVERNAME=localhost

# TLS
# Usa al menos la CA del servidor si quieres validación real.
# Si tu broker exige mutual TLS, agrega también cert y key del cliente.
RABBIT_TLS_CA_PATH=../certs/ca.pem
RABBIT_TLS_CERT_PATH=
RABBIT_TLS_KEY_PATH=
RABBIT_TLS_PASSPHRASE=
RABBIT_TLS_REJECT_UNAUTHORIZED=true
